@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
    width: 550px;
    margin: auto;
    background: #FEE9E1;
}

h1 {
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid black ;
}


.Square {
    height: 80px;
    width: 100px;
    font-size: 45pt; 
    text-align: center;
    
}
#message {
    font-family: 'Dancing Script', cursive;
    font-size: 25px
}
.Table {
    width:100%
}
.button {
     
    margin-top: 10px;
    float: right;
    border-top: 1px solid #96d1f8;
    background: #c7c19f;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#c7c19f));
    background: -webkit-linear-gradient(top, #3e779d, #c7c19f);
    background: -moz-linear-gradient(top, #3e779d, #c7c19f);
    background: -ms-linear-gradient(top, #3e779d, #c7c19f);
    background: -o-linear-gradient(top, #3e779d, #c7c19f);
    padding: 13px 22px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: #FEE9E1;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
    vertical-align: middle;
    }
 .button:hover {
    
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
 .button:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }
